<!-- 

if admin display adding  breakfast, mid morning snack, lunch, mid afternoon snack and dinner
-->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header clearfix">
            <h1 class="page-header-app pull-left">Nutrition</h1>
            <a type="button" class="btn btn-primary pull-right back-header-button" ng-click="nutritionCtrl.back()">Back</a>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-repeat="category in nutritionCtrl.categories">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <a ui-sref="app.nutrition.category.assign({categoryId: {{category.id}}})">Assign</a>
                </div> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <div class="huge">{{category.name}}</div>
                </div>
            </div>
        </div>
        <a ui-sref="app.nutrition.category({categoryId: {{category.id}}})">
            <div class="panel-footer">
                <span class="pull-left">{{nutritionCtrl.detailsLabel}}</span>
                <span class="pull-right"><i class="glyphicon glyphicon-arrow-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>