<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/grid/ui-grid.min.css">
        <script src="js/angular/angular.min.js"></script>
        <script src="js/angular/angular-animate.min.js"></script>
        <script src="js/angular/angular-touch.min.js"></script>
        <script src="js/angular/angular-cookies.min.js"></script>
        <script src="js/angular/angular-ui-router.min.js"></script>
        <script src="js/angular/ui-bootstrap-tpls-2.0.0.min.js"></script>
        <script src="category/categoryService.js"></script>
        <script src="nutrition/category/nutritionCategory.js"></script>
        <script src="nutrition/nutrition.js"></script>
        <script src="user/user.js"></script>
        <script src="user/menu/menuService.js"></script>
        <script src="user/login/loginService.js"></script>
        <script src="user/login/login.js"></script>
        <script src="welcome/welcome.js"></script>
        <script src="app.js"></script>
        <script src="js/ui-grid.min.js"></script>
    </head>
    <body ng-controller="AppController as appCtrl">
        <div ng-hide="appCtrl.showMenu">
            <div class="col-lg-4 col-md-4 col-sm-12"></div>
            <div class="col-lg-4 col-md-4 col-sm-12" ui-view="login"></div>
            <div class="col-lg-4 col-md-4 col-sm-12"></div>
        </div>
        <div id="wrapper" ng-show="appCtrl.showMenu">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <!--<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">-->
                    <button type="button" class="navbar-toggle" ng-click="appCtrl.collapse()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">JQFitness</a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li uib-dropdown on-toggle="toggled(open)">
                        <a href="#" uib-dropdown-toggle>
                            <i class="glyphicon glyphicon-user"></i> <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="app.login"><i class="glyphicon glyphicon-wrench"></i> User Profile</a></li>
                            <li class="divider"></li>
                            <li><a ui-sref="app.login"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="navbar-default sidebar" role="navigation">
                    <div class="collapse sidebar-nav navbar-collapse" ng-class="!appCtrl.navCollapsed && 'in'">
                        <ul class="nav" id="side-menu" ng-repeat="menuItem in appCtrl.menus">
                            <li>
                                <a ui-sref="{{menuItem.state}}" ng-click="appCtrl.collapse()"> {{menuItem.description}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper">
                <div ui-view="main"></div>
            </div>
        </div>
    </body>
</html>
