<!-- 

if admin display adding  breakfast, mid morning snack, lunch, mid afternoon snack and dinner
-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{nutritionEditOptionCtrl.option.category.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
        <button type="button" class="btn btn-primary" ng-click="nutritionEditOptionCtrl.updateOption()">Edit Option</button>
    </div>
</div>
<div class="page-break"></div>
<div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Option Name</label>
                <input class="form-control" ng-model="nutritionEditOptionCtrl.option.name">
            </div>
            <div class="form-group">
                <label>Recipe</label>
                <textarea rows="15" cols="7" class="form-control textarea" ng-model="nutritionEditOptionCtrl.option.content"></textarea>
            </div>   
        </div>
    </div>
</div>